Source: motor
Section: libdevel
Priority: extra
Maintainer: mdavidsaver <mdavidsaver@gmail.com>
Build-Depends: debhelper (>= 9.20141010), dpkg-dev (>=1.17.14),
               epics-debhelper (>= 8.14~), epics-dev,
               rtems-epics-mvme2100 <pkg.epics-base.rtems>,
               rtems-epics-mvme3100 <pkg.epics-base.rtems>,
               rtems-epics-mvme5500 <pkg.epics-base.rtems>,
               rtems-epics-pc386 <pkg.epics-base.rtems>,
               epics-asyn-dev,
               rtems-asyn-mvme2100 <pkg.epics-base.rtems>,
               rtems-asyn-mvme3100 <pkg.epics-base.rtems>,
               rtems-asyn-mvme5500 <pkg.epics-base.rtems>,
               rtems-asyn-pc386 <pkg.epics-base.rtems>,
               epics-busy-dev,
               rtems-busy-mvme2100 <pkg.epics-base.rtems>,
               rtems-busy-mvme3100 <pkg.epics-base.rtems>,
               rtems-busy-mvme5500 <pkg.epics-base.rtems>,
               rtems-busy-pc386 <pkg.epics-base.rtems>,
               epics-seq-dev,
               rtems-seq-mvme2100 <pkg.epics-base.rtems>,
               rtems-seq-mvme3100 <pkg.epics-base.rtems>,
               rtems-seq-mvme5500 <pkg.epics-base.rtems>,
               rtems-seq-pc386 <pkg.epics-base.rtems>,
XS-Rtems-Build-Depends: rtems-epics, rtems-asyn, rtems-busy, rtems-seq,
Standards-Version: 3.9.6
Homepage: http://aps.anl.gov/bcda/synApps/motor/index.html
Vcs-Git: https://github.com/epicsdeb/motor.git
Vcs-Browser: https://github.com/epicsdeb/motor

Package: epics-motor-dev
Architecture: any
Depends: libmotor6.9 (= ${binary:Version}),
         ${shlibs:Depends}, ${misc:Depends},
         ${epics:Depends},
Conflicts: epics-synapps,
Description: Motor controller drivers
 Infrastructure and drivers for various motor controllers
 .
 This package contains headers and libraries needed at build time.

Package: libmotor6.9
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Conflicts: epics-synapps,
Description: Motor controller drivers
 Infrastructure and drivers for various motor controllers
 .
 This package contains runtime libraries

Package: rtems-motor-mvme2100
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: epics-motor-dev (>= ${source:Version}),
         epics-motor-dev (<< ${source:Version}.1~),
         ${rtems:Depends}, ${misc:Depends},
Conflicts: rtems-synapps-mvme2100,
Description: Motor controller drivers
 Infrastructure and drivers for various motor controllers
 .
 This package contains support for the MVME2100 VME SBC

Package: rtems-motor-mvme3100
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: epics-motor-dev (>= ${source:Version}),
         epics-motor-dev (<< ${source:Version}.1~),
         ${rtems:Depends}, ${misc:Depends},
Conflicts: rtems-synapps-mvme3100,
Description: Motor controller drivers
 Infrastructure and drivers for various motor controllers
 .
 This package contains support for the MVME3100 VME SBC

Package: rtems-motor-mvme5500
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: epics-motor-dev (>= ${source:Version}),
         epics-motor-dev (<< ${source:Version}.1~),
         ${rtems:Depends}, ${misc:Depends},
Conflicts: rtems-synapps-mvme5500,
Description: Motor controller drivers
 Infrastructure and drivers for various motor controllers
 .
 This package contains support for the MVME5500 VME SBC

Package: rtems-motor-pc386
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: epics-motor-dev (>= ${source:Version}),
         epics-motor-dev (<< ${source:Version}.1~),
         ${rtems:Depends}, ${misc:Depends},
Conflicts: rtems-synapps-pc386,
Description: Motor controller drivers
 Infrastructure and drivers for various motor controllers
 .
 This package contains support for the pc386 BSP
